{% load i18n %}
{% if sliders %}
<style>
    .slider-image {
    max-height: 700px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .slider-image {
        height: 50vh;
        max-height: 300px;
    }
}

</style>
<div class="swiper hero-swiper mb-5">
    <div class="swiper-wrapper">
        {% for slider in sliders %}
        <div class="swiper-slide position-relative">
        <img src="{{ slider.image_resized.url }}" alt="{{ slider.alt_text }}" class="img-fluid w-100 slider-image">

            <!-- Overlay content -->
            <div class="container position-absolute top-50 start-50 translate-middle text-white text-center text-md-start px-3 px-md-5" style="z-index: 2;">
                <h1 class="fw-bold display-6 display-md-4 display-lg-3">{{ slider.heading }}</h1>
                <p class="fs-5 fs-md-4 col-lg-6 mx-auto mx-md-0">{{ slider.subheading }}</p>
                <a href="{{slider.button_url_name}}" class="btn btn-primary btn-lg rounded-pill mt-3">
                    {{ slider.button_text }} <i class="fas fa-arrow-right ms-2"></i>
                </a>
            </div>

            <!-- Dark overlay -->
            <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50" style="z-index: 1;"></div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination Dots -->
    <div class="swiper-pagination mt-3"></div>
</div>
{% else %}
<!-- Default Hero Section -->
<div class="p-5 mb-4 bg-light rounded-3 shadow-sm intro">
    <div class="container-fluid py-5 text-start">
        <h1 class="display-5 fw-bold">{% trans "Discover Your Style" %}</h1>
        <p class="col-md-8 justify-content-start fs-4">{% trans "Explore our latest collections and find the perfect products for you." %}</p>
        <a href="{% url 'shop:category_detail' slug='all' %}" class="btn btn-primary btn-lg rounded-pill">
            {% trans "Shop Now" %} <i class="fas fa-arrow-right ms-2"></i>
        </a>
    </div>
</div>
{% endif %}

<script>
document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.hero-swiper', {
        loop: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
        effect: 'fade',
        fadeEffect: { crossFade: true },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
});
</script>
